:root{
 --gre : #6fcfec ;
 --gre1 : #62e5da ;
}
body{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* :start couch.html */

/* form  {
  transition: 1s;
  transform: translate(-300% , 0) rotate(360deg);
}
body:hover form{
  transform: translate(0, 0);
} */
table{
  color: white;
  border: solid 1px white;
  text-align: center;
  overflow: auto;
  width: 90%;
  border-collapse: collapse;
  margin: 100px auto;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}
tr{
  cursor: pointer;
}
.tableDelta tr{
   text-decoration: line-through red 2px;
  cursor:no-drop;
  transition: 1s;
}
.tableDelta .d{
  text-decoration: none ;
  cursor:pointer;
  transition: 1s;
}

.form .input {
  padding: 0;
  margin: 30px auto;
  text-align: center;
}
.form .input label{
  display: block;
  color:red;
}

/* للشاشات الصغيرة (الهواتف المحمولة) */
@media only screen and (max-width: 600px) {
  .form {
      width: 80%;
    }
}

/* للشاشات المتوسطة (الأجهزة اللوحية) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .form {
      width: 50%;
    }
}

/* للشاشات الكبيرة (شاشات الكمبيوتر) */
@media only screen and (min-width: 1025px) {
  .form {
    width: 30%;
  }
}



/* :start total button  */
.fullButton{
  display: flex;
  justify-content: center;
}
.fullButton:hover{
}
.toButon{
  color: black;
  text-decoration: none;
  background-color: var(--gre1);
  padding: 10px 30px;
  margin: 20px 0 20px 20px ;
  border-radius: 20px;
  width: 230px;
  text-align: center;
  /* transform: translate(-70% , 0); */
  display:inline-block;
  cursor: pointer;
  transition: 1s;

}

.active{
  background-color: var(--gre);
}
.toButon:hover{
    background-color: var(--gre1);
      /* transform: translate(-10% , 0); */
      border-radius: 6px;


}
.reset{
  background-color: red;
}
/* :end total button  */

/* :end couch.html */



/* :start index.html */




li , a{
  list-style: none;
  color: #000;
  text-decoration: none;
}
.login{
  border-radius: 8px;
  background-color: var(--gre1);

}
.login:hover{
  background-color: var(--gre);
  

}



/* :start sectionOne main  */

.main{
  height: 100vh;
  background-image: url(../img/bg2.jpeg) ;
  background-repeat: no-repeat;
  background-size: 100% 100% ;
}
@media only screen and (max-width: 600px) {
  .main {
      background-size: 100% 100% ;
    }
}

.pAbsolute{
  position: absolute;
  top: 30%;
}
.pAbsolute .textP{
  letter-spacing: 2px;
  font-weight: 600;
}

/* :end sectionOne main  */

/* :start sectionTow img  */

.divImg{
  width:90%;
  height: 90%;
  border: solid var(--gre1) 15px;
}
.divImg img{
  width: 100%;
  height: 85%;
  transform: translate(-10% , 10%);
}

/* :end sectionTow img  */


/* :start sectionThree img  */
.three{
  background-color: var(--gre) ;
  padding: 0;
}
.three .imgBoy{
  width: 400px;
  position: absolute;
  top: -90px;
}
@media only screen and (min-width: 990px) and (max-width: 1280px) {
  .three .imgBoy{
    width: 330px;

  }
}

/* :end sectionThree img  */


/* :start sectionFour img and text  */
.imgMe img{
  width: 480px;
}

.icon i{
  cursor: pointer;

}
.icon i:hover{
  color: var(--gre);
}
/* :end sectionFour img and text  */

/* :start footer  */
.footer .textFooter:hover{
  transition: 1s;
  color: white;
  cursor: pointer;
}
.logo{
  width: 170px;
}
/* :end footer  */

/* :end couch.html */


/* :start student.html */

.bo {
    font-family: Arial, sans-serif;
    direction: rtl; /*  لجعل النصوص من اليمين لليسار */
}

#calendar {
    display: grid;
    gap: 10px;
    margin: 20px;
}

/* للشاشات الصغيرة (الهواتف المحمولة) */
@media only screen and (max-width: 600px) {
  #calendar {
    grid-template-columns: repeat(3, 1fr);
    }
}

/* للشاشات المتوسطة (الأجهزة اللوحية) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #calendar {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* للشاشات الكبيرة (شاشات الكمبيوتر) */
@media only screen and (min-width: 1025px) {
  #calendar {
    grid-template-columns: repeat(7, 1fr);
  }
}
.day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.day.disabled {
    background-color: #f0f0f0;
    cursor: no-drop;
}

.day.registered {
    background-color: var(--gre1);
    color: white;
}

.day.not-registered {
    background-color: red;
    color: white;
}

.day .day-name {
 
    font-size: 12px; /* حجم النص لأسماء الأيام */
}



/* :start popup */
body {
  font-family: Arial, sans-serif;
}

#popup {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.hidden {
  display: flex;
}
/* :end popup */
/* :start whatsappButton */
#whatsappButton {
  background-color: var(--gre); /* لون واتساب */
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
#whatsappButton:hover{
  background-color: var(--gre1);
  /* transform: translate(-10% , 0); */
  border-radius: 6px;
}

/* :end whatsappButton */

/* :start  option number   */
.option{ 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border: solid #000 3px ; 
  border-radius: 50%;
  position: relative;
  margin: 0;
  
}
.optio{
  height: 200px;
  width: 3px;
  background-color: #000;
  position: relative;
  right:23px ;
  margin: 0;
  transition: 4s  ;

}
.act{
  border: solid var(--gre) 3px ; 
}
.activ{
  background-color: var(--gre);
}
/* :end  option number  */

/* :start buttons style  */

.buttonss h3 , .buttons h3{
  text-align: center;
  min-width: 150px ;
  max-width: 600px;
  background-color: var(--gre); 
  padding: 20px 0;
  border-radius: 6px;
  margin:10px;
  cursor: pointer;
  transition: .6s;
}
.buttonss h3:hover{
  color: white;
  background-color:var(--gre1) ;

}
.buttonss .activ{
  background-color: var(--gre1);
  box-shadow: 2px 2px 15px 9px var(--gre1);
}

.buttons h3{
  background-color: #3392d1;
}

.buttons .activ{
 border: solid 3px black ;
 color: white;
 background-color: var(--gre1);
}
/* :end buttons style  */

/* :start prj video  */
td video {
  width: 250px;
  height: 400px;
  opacity: 0.2; /* اجعل الفيديو شفافًا */
  transition: opacity 0.5s ease; /* تأثير الانتقال */
}
td video:hover {
  opacity: 1; /* اجعل الفيديو غير شفاف عند التحويم */
}
.tableBrj{
  background-image: url(../img/1.jpeg );
  background-size: cover;
  background-position: 50%  50%;
  color: white;
}
.tableBrj tr th {
  text-align: left ;
}
.tableBrj tr , .tableBrj th , .tableBrj td {
  border: solid 1px ;

}
/* .tableBrj tr:nth-child(odd) {
  background-color: var(--gre)bd;
}
.tableBrj tr:nth-child(1) {
  background-color: var(--gre)bd;
} */
/* :end prj videu  */
/* :end student.html */